h1{
	background: #B3B3B3;
	font-size: 300%;
	color: #666666;
}

header{
	background: #666666;
	text-align: center;
	color: #666666;
}
h1{
	color: #666666;
}
nav{
	font-variant: small-caps;
	font-size: 150%;
	font-family: Arial
}
h2{
	color: #666666;
	background: #00B7EA
}
details{
	font-style: italic;	
}
summary{
	font-style: normal;
}
footer{
	background: #666666
}